<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Chess Project - Smart Sailors</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet"
  href="bower_components/chessboard.js/dist/css/chessboard.css" />

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->

</head>
<body data-ng-app="myApp" data-ng-controller="BodyCtrl as ctrl">

  <h1>Chess Project - AgularJS - Smart Sailor</h1>

  <div class="container">


    <div>
      <h2>Please enter the players' names:</h2>
      <label>Player 1:</label>
      <input type="text" ng-model="ctrl.playerOne" placeholder="Enter a name here">
      <label>Player 2:</label>
      <input type="text" ng-model="ctrl.playerTwo" placeholder="Enter a name here">
      <br>
      <h2>Hello {{ctrl.playerOne | capitalize}} and {{ctrl.playerTwo | capitalize}} !</h2>
      <p>{{ctrl.playerOne | capitalize}} will be <strong>White</strong> and {{ctrl.playerTwo | capitalize}} will be <strong>Black</strong>.</p>
    </div>

    <hr>

    <div class="cf">
      <div class="example board board-sm">
        <nywton-chessgame
          game="game"
          board="board"
        ></nywton-chessgame>
      </div>
    </div>

    <div>
        <br>
        <b>Who's the turn for?</b>
        <p>--> {{ctrl.turnFor(game) | capitalize}}</p>
        <b>What's the game status?</b>
        <p>--> {{ctrl.gameStatus(game)}}</p>

        <br>

        <div data-chessgame-debug="game"></div>
    </div>


  </div>

  <script src="bower_components/angular/angular.js"></script>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>

  <script src="bower_components/chessboard.js/dist/js/chessboard.js"></script>
  <script src="bower_components/chess.js/chess.js"></script>

  <script
    src="bower_components/angular-chessboard/dist/angular-chessboard.js"></script>
  <script src="bower_components/angular-chess/dist/angular-chess.js"></script>

  <script src="app.js"></script>

</body>
</html>
